.todo {
    background-color: #0d0d0d;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.todo .navbar {
    border-bottom: .1rem solid #908574;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.todo .navbar a {
    text-decoration: none;
    color: #eedabd;
    font-size: 1.7rem;
    font-weight: 500;
}

.todo .navbar .user {
    font-size: 2.5rem;
    color: #eedabd;
    margin-right: 3rem;
    cursor: pointer;
}

.todo .navbar a:first-child {
    font-weight: 800;
    color: #ff5631;
    font-size: 2rem;
}

.todo .info {
    background-color: #eedabd;
    height: 25rem;
    width: 35rem;
    position: absolute;
    right: 4rem;
    top: 7rem;
    border-radius: 1.4rem;
    z-index: 999;
    display: none;
}

.todo .view {
    display: block;
}

.todo .info::after {
    content: '';
    background-color: #eedabd;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -1rem;
    right: 6rem;
    transform: rotate(45deg);
}

.todo .info .welcome {
    padding: 2rem;
    border-bottom: .1rem solid black;
}

.todo .info .welcome p {
    font-size: 1.5rem;
    color: #000;
    font-weight: 700;
}

.todo .info .detail {
    padding: 2rem;
    border-bottom: .1rem solid black;
}

.todo .info .detail span {
    font-size: 1.3rem;
    color: #4d473e;
}

.todo .info .detail p {
    margin: 1rem 0 1rem 0;
    font-size: 1.6rem;
    color: #3f3b33;
}

.container {
    padding: 3rem;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem; 
}

.container .stat {
    width: 50rem;
    padding: 4rem;
    border-radius: 2rem;
    border: .1rem solid #908574;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .stat .text h3 {
    color: #eedabd;
    font-size: 3rem;
    font-weight: 900;
}

.container .stat .text p {
    font-size: 2rem;
    color: #908574;
    margin-top: 1rem;
}

.container .stat .number-complete {
    padding: 2rem;
    border-radius: 50%;
    background-color: #ff5631;
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .stat .number-complete p {
    font-size: 3rem;
    text-align: center;
    color: #000;
    font-weight: 900;
}

.container .add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.container .add input {
    background-color: #1e1e1e;
    border: none;
    border-radius: 2rem;
    padding: 1.5rem;
    width: 42rem;
    font-size: 1.7rem;
    color: #908574;
}


.container .add input:focus {
    outline: .1rem solid #ff5631;
}

.container .add button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    background-color: #ff5631;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.container .task {
    border: .1rem solid #908574;
    border-radius: 2rem;
    padding: 2rem;
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1e1e;
}

.container .task .group:first-child {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 70%;
}

.container .task .group:first-child p {
    font-size: 1.5rem;
    color: #eedabd;
}

.container .task .group:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container .task .circle {
    width: 3rem;
    height: 3rem;
    border: .1rem solid #ff5631;
    border-radius: 50%;
    cursor: pointer;
}

.complete {
    background-color: #57cb4c;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.container .task .group .btn {
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    color: #eedabd;
}

.container .no-task {
    font-size: 2.5rem;
    color: #eedabd;
    font-weight: 700;
}

.container .edit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    width: 50rem;
    height: 15rem;
    background-color: #0d0d0d;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    z-index: 999;
    box-shadow: 0 0 3rem rgba(238, 218, 189, 0.5);
    display: none;
}

.container .edit-show {
    display: block;
}

.container .edit .close {
    font-size: 2.5rem;
    color: #ff5631;
    position: absolute;
    right: 3rem;
    top: 1rem;
    cursor: pointer;
}

.container .edit .add {
    margin: 4rem 0;
}

.container .edit .add .plus {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    background-color: #ff5631;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

